*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
/* Первый блок */
header {
    background-color: white;
    width: 100%;
}
menu {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.logo {
    width: 30%;
    display: flex;
    align-items: center;
}
.listMenu ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.listMenu {
    width: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}
.first-button {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: end;
}
.first-button button {
    width: 150px;
    height: 43px;
    background-color: white;
    border: 1px solid orange;
    color: orange;
    font-size: 18px;
    border-radius: 5px;
}
/* Втрой блок */
.twoPart {
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}
.first_img{
    width: 50%;
}
.text1 {
    width: 39%;
    margin: auto auto auto 200px;
}
.by {
    width:75%;
}
.by h1{
    font-size: 80px;
    margin-bottom: 7%;
}
.by p{
    font-size: 33px;
}
.by button{
    width: 200PX;
    height: 60PX;
    font-size: 18px;
    background-color: orange;
    color: white;
    border-radius: 5px;
    border: 2px solid red;
    margin: 100px 100px 100px 100px;
}


.forPart {
    width: 100%;
    display: flex;
    background-color: whitesmoke;
}
.two_img {
    width: 50%;
}
.text2 {
    width: 50%;
}
.my {
    width: 50%;
    margin: 194px 166px 104px 100px;
}
.my h6{
    font-size: 40px;
    margin-bottom: 4%;
}
.my p{
    font-size: 33px;
}
.my button{
    width: 200px;
    height: 60px;
    border-radius: 5px;
    color: orange;
    border: 1px solid orange;
    background-color: whitesmoke;
    margin: 100px 100px 100px 0px;
}
/* Третий блок */
.threeBlock {
    width: 100%;
    background-color: white;
}
.oneText {
    width: 422px;
    height: 39px;
    margin: 96px 509px 3px 809px;
    display: flex;
    justify-content: center;
}
.oneText p{
    font-size: 39px;
}
.twotext {
    width: 454px;
    height: 25px;
    margin: 15px 509px 100px 809px;
    display: flex;
    justify-content: center;
}
.twotext p{
    font-size: 18px;
}
/* Четвертый блок */
.maxBlock {
    width: 100%;
    margin-bottom: 150px;
    display: flex;
    justify-content: space-evenly;
}
.max1, .max2, .max3, .max4 {
    width: 20%;
}
.text11, .text22, .text33, .text44{
    background-color: whitesmoke;
}
.text11 :first-child{
    font-size: 22px;
    padding: 30px 0px 0px 30px;
}
.text11 :last-child{
    font-size: 16px;
    padding: 100px 0px 0px 30px;
}
.text22 :first-child{
    font-size: 22px;
    padding: 30px 0px 0px 30px;
}
.text22 :last-child{
    font-size: 16px;
    padding: 100px 0px 0px 30px;
}
.text33 :first-child{
    font-size: 22px;
    padding: 30px 0px 0px 30px;
}
.text33 :last-child{
    font-size: 16px;
    padding: 100px 0px 0px 30px;
}
.text44 :first-child{
    font-size: 22px;
    padding: 30px 0px 0px 30px;
}
.text44 :last-child{
    font-size: 16px;
    padding: 100px 0px 0px 30px;
}
/* Пятый блок */
.fiveBlock {
    height: 240px;
    width: 100%;
    display: flex;
    background-color: #F7941E;
}
.blockFiveOne {
    width: 50%;
}
.blockFiveTwo {
    width: 50%;
    display: fleX;
}
.blockFiveOne h5{
    font-size: 35px;
    padding: 81px 100px 0px 335px;
}
.blockFiveOne p{
    font-size: 33px;
    padding: 26px 100px 0px 335px;
}
.forButton {
    display: flex;
    align-items: center;
    padding: 0px 20px 0px 120px;
}
.sixButton {
    display: flex;
    align-items: center;
}
.forButton button {
background-color: black;
color: white;
font-size: 33px;
border-radius: 5px;
}
.sixButton button{
    background-color: #F7941E;
    font-size: 33px;
    border-radius: 5px;
}
/* Шестой блок */
.sixBlock {
    width: 100%;
    background-color: white;
}
.sixBlockOneText {
    width: 422px;
    height: 39px;
    margin: 96px 509px 3px 809px;
    display: flex;
    justify-content: center;
}
.sixBlockOneText p{
    font-size: 39px;
}
.sixBlockTwoText {
    width: 454px;
    height: 25px;
    margin: 15px 509px 100px 809px;
    display: flex;
    justify-content: center;
}
.sixBlockTwoText p{
    font-size: 18px;
}
/* Седмой блок */
.sevenblock {
    width: 100%;
    display: flex;
    justify-content: center;
}
.sevenblockimg {
    width: 30%;
}
.sevenblockTwo {
    width: 60%;
    background-color: #231F20;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blackblock p{
    font-size: 18px;
    color: white;
}
.blackblock  h1{
    width: 70%;
    color: white;
    font-size: 70px;
    margin: 50px 0px 150px 0px;
}
/* Восьмой блок */
.eightblock {
    width: 100%;
    margin-top: 120px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}
.eightone {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.eighttwo {
    width: 40%;
}
.eightoneBlock h3{
    width: 60%;
    font-size: 33px;
    margin-bottom: 30px;
}
.eightoneBlock p{
    width: 48%;
    font-size: 20px;
}
.eighttwoBlock h3{
    width: 60%;
    font-size: 33px;
    margin-bottom: 30px;
}
.eighttwoBlock p{
    width: 48%;
    font-size: 20px;
}
.more {
    margin-top: 34px;
}
/* Девятый блок */
.nineBlock {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    padding: 20px;
}
.nine1 {
    width: 50%;
}
.mininine1, .mininine2 {
    display: flex;
    justify-content: center;
}
.mininine1 p, .mininine2 p{
    font-weight: 1000;
}
.nine2 {
    width: 50%;
}
.mininine1 :first-child, .mininine2 :first-child{
    margin: 0px 140px 0px 0px;
}
.www {
    border-top: 1px solid;
    background-color: whitesmoke;
    width: 70%;
    margin: auto;
}
/* Десятый блок */
.tenblock {
    width: 100%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.tenimg {
    width: 80%;
    display: flex;
    justify-content: center;
    margin: 50px 0px 0px 0px;
}
/* Последний блок */
.lastblock {
    width: 100%;
    height: 200px;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
}
.lastOne {
    margin-top: 150px;
}
